/* effet du draggable */
/*.drag.ui-draggable-dragging{
    
}*/

* {
 padding: 0;
 margin: 0;
}

*,
*:before,
*:after {
 box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}

.clearfix:after {
 clear: both;
}




body{
        font-family: 'Karla', arial, sans-serif;
}

.drop{
    z-index: 20;
}

p{
    color: white;
    align-items: center;
    width: 25%;
    padding: 20px;
    margin-left: 2.5%;
    font-size: 23px;
}

#logo{
    float: left;
    padding: 15px;
    width: 20%;
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
}
.container{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: #353535;
}

.rotate45{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
transform: rotate(45deg);
}

.rotate135{
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.rotate{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
transform: rotate(90deg);
}

#reset{
    float: right;
    margin-top: 10px;
    margin-right: -280px; 
    width: 15%;
}

#menu-app{
    float: right;
    height: 43%;
    width: 50%;
    padding: 40px;
    margin-top: 10%;
    float: right;
    margin-right: 10%;
    background:#494949;
    zborder: 2px solid lightgrey;
}

img{
    width: 20%;
}

.description{
    padding: 10px;
    float: right;
    text-align: center;
    margin-right: 22%;
    width: 25%;
    display: inline-block;
    zborder: 2px solid lightgrey;
    margin-top: 2px;
}

.choice-app{
    width: 570px;
    height: 293px;
    /*border: solid black;*/
    margin-left: 1030px;
    margin-top: 205px;
}

.drag{
    margin-left: 20px;
    z-index: 9999;
}

#plaque{
    position: absolute;
    margin-top: 192px;
    z-index: 5;
    margin-left: 1030px;

}
.choice_1, .choice_2, .choice_3{
    position: relative;
    width: 150px;
    height: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 2%;
    z-index: 10;
}

.prev-app{
    overflow: hidden;
    width: 80%;
    zheight: 122,2px;
    zborder: solid black;
    /*display: inline-block*/
    background: url(../img/broche3.png) center center no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
}
.content_1, .content_2, .content_3, .content_4, .content_5, .content_6{
    zborder: solid black;
    width: 9%;
    height: 100px;
    float: left;
    margin-left: 5px;
    margin-bottom: 20px;
}

p span{
    float: right;
    font-size: 20px;
    font-weight: bold;
}  

#valider{
    float: left;
    background: #494949;
    height: 40px;
    width: 200px;
    margin-left: 8%;
    font-weight: bold;
    font-size: 30px;
}

div span{
    margin-left: 9px;
    margin-top: 4px;
    color: white;
}
.text{
    text-align: justify;
    font-size: 18px;
}

.rotate, .rotate45, .rotate135{
    width: 90%;
}
