 @charset "utf-8";

* {
 padding: 0;
 margin: 0;
}

*,
*:before,
*:after {
 box-sizing: border-box;
}

@font-face
{
 font-family: 'futura_book';
 src: url('../fonts/Futura Book font.ttf');
 font-family: 'futura_light';
 src: url('../fonts/futura light bt.ttf');
 font-family: 'futura_medium';
 src: url('../fonts/futura medium bt.ttf');
 font-family: 'brushed_traveler';
 src: url('../fonts/Brushed-Traveler.ttf');
}

.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}

.clearfix:after {
 clear: both;
}

header{
 background: url(../img/background.jpg) no-repeat center center ;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100vh;
}

@media screen and (max-width: 10000px) {

/*--------------------------Page d'acceuil "Full Page"-------------------------------*/

 .logo{
  float: left;
  width: 3.5%;
  margin-top: 10px;
  margin-left: 2%;
  margin-bottom: 1%;
 }

 a{
  font-family: 'Karla', sans-serif;
  display: inline-block;
  color: white;
  text-decoration: none;
 }

 a:hover{
  color: #f97f5b;
  transition: 0.3s;
 }

.nav1 {
  margin-top: 2.5%;
  margin-left: 6%;
  font-size: 1.2em;
 }

.nav2{
  margin-top: 2.5%;
  margin-left: 8%;
  font-size: 1.2em;
 }

.nav3 {
  margin-top: 2.5%;
  font-size: 1.2em;
  margin-left: 8%;
 }

.nav4 {
  margin-top: 2.5%;
  color: #ed5224;
  font-size: 1.2em;
  margin-top: 1.2%;
  margin-left: 8%;
 }

.log{
 margin-top: 1.2%;
 margin-right: 20px;
 float: right;
 opacity: 0.8;
}

.log:hover{
  opacity: 1;
  transition: 0.6s;
}

.log-in-panier{
  margin-right: 20px;
  margin-top: 1.2%;
  opacity: 0.8;
  float: right;
 }

 .log-in-panier:hover{
  opacity: 1;
  transition: 0.6s;
 }

 .scroll{
  margin-left: 46.5%;
  margin-top: 38%;          
 }

 .scroll:hover{
  transform: scale(1.25);
  transition: 0.8s;
 }

 .log-in{
 float: right;
 width: 10%;
 color: white;
 background: rgba(129,129,129,0.5);
 margin-top: 1%;
 padding: 10px;
}


.nav_full_page{
    background-color:transparent;
    transition: all 0.25s ease;
    position:fixed;
    width:100%;
}

.nav_full_page.past-main {
    border-bottom : 2px solid rgba(255,102,57,1);
    background-color: rgba(0,0,0,1);
}

/*--------------------------Page d'acceuil "Full Page"-------------------------------*/
/*--------------------------Page d'acceuil "Responsive"-------------------------------*/

#main {
  height:0px;
}

 button{
  display: none;
 }

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.foot {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    margin: 0 0 0 0;
}

.col {
    padding: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.w1 {
    width: 100%;
}

.w2 {
    width: 50%;
}

.w3 {
    width: 33.33%;
}

.w4 {
    width: 25%;
    background-color: #bbb;
}

.w12 {
    width: 8.33%;
}

/*--------------------------Page d'acceuil "Responsive"-------------------------------*/

/*-----------------------------------------------------------
                    SECTION A PROPOS
-----------------------------------------------------------*/

h2{
 margin-bottom: 25px;
}

#apropos {
    background-color: #212121;
    height: 100vh;
    font-family: 'Karla', sans-serif;
}

#apropos article {
    margin-top: 100px;
}

#apropos h2 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    padding: 20px 0;
}

.text_propos {
    text-decoration: justify;
    color: white;
    font-size: 1.3em;
    padding: 10px 200px;
    line-height: 40px;
}

.text_broch1 {
    text-align: center;
    margin-top: 80px;
    color: white;
    font-size: 1.2em;
    font-family: 'brushed_traveler', arial, verdana, sans-serif;
}

.text_broch2 {
    text-align: center;
    color: #ed5224;
    font-size: 1.2em;
    font-family: 'brushed_traveler', arial, verdana, sans-serif;
   }


#content{
  width: 20%;
  background-color: white;
}


/*-----------------------------------------------------------
                    SECTION CONTACT
-----------------------------------------------------------*/

#contact {
    background: url(../img/contact.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;
    font-family: 'Karla', sans-serif;
}

.picto {
    display: flex;
    justify-content: center;
}

#contact article {
    margin-top: 150px;
}

#contact img {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
}

#contact h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    color: white;
}

#contact p {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}

/*-----------------------------------------------------------
                    SECTION CONTACT
-----------------------------------------------------------*/

/*-----------------------------------------------------------
                            FOOTER
-----------------------------------------------------------*/

footer {
    height: 10vh;
    background-color: black;
    font-family: 'Karla', sans-serif;
}

footer p {
    text-align: center;
    padding-top: 5vh;
    color: white;
}



 /*menu burger */

 @media screen and (max-width: 1300px) {

  #apropos {
    height: 100%;
}

  #apropos article {
    margin-top: 20px;
}

#apropos h2 {
    text-align: center;
    color: white;
    font-size: 1.9em;
    text-transform: uppercase;
    padding: 20px 0;
}

.text_propos {
    text-align: center;
    color: white;
    font-size: 1.3em;
    padding: 20px 200px;
    line-height: 30px;
}

  header a {
   margin-top: 35px;
   margin-bottom: 35px;
   margin-left: 8%;
  }
  
.log{
 margin-top: 20px;
}

.log-in-panier{
 margin-top: 20px;
}

  ul{
   font-size: 1em;
   background: rgba(129,129,129,0.5);
  }

  div{
   position: fixed;
   display: inline-block;
   font-size: 1em;
   margin-top: 85px;
  }

  a:hover{
   text-decoration: none;
  }

  .c-hamburger {
   display: block;
   position: fixed;
   margin: 0;
   padding: 0;
   width: 80px;
   height: 80px;
   font-size: 0;
   text-indent: -9999px;
   appearance: none;
   box-shadow: none;
   border-radius: none;
   border: none;
   cursor: pointer;
   transition: background 0.3s;
  }

  .c-hamburger:focus {
   outline: none;
  }

  .c-hamburger span {
   display: block;
   position: absolute;
   top: 35px;
   left: 18px;
   right: 18px;
   height: 8px;
   background: black;
  }

  .c-hamburger span::before,
  .c-hamburger span::after {
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 8px;
   background-color: black;
   content: "";
  }

  .c-hamburger span::before {
   top: -20px;
  }

  .c-hamburger span::after {
   bottom: -20px;
  }
  .c-hamburger--rot {
   background-color: #ed5224;
  }

  .c-hamburger--rot span {
   transition: transform 0.3s;
  }

  /* active state, i.e. menu open */
  .c-hamburger--rot.is-active {
   background-color: #e27352;
  }

  .c-hamburger--rot.is-active span {
   transform: rotate(90deg);
  }

  .nav_full_page{
   display: none;
  }

  .scroll{
   margin-left: 47.5%;
   margin-top: 580px;         
  }

  .style-brochette{
   color: #ed5224;
  }